<!DOCTYPE html>
<html>
<head>
  <title>Click Productions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div id="topbar">
    <div id="tophiddenbar">
     <%= image_tag 'logo.png', class: 'img-responsive' %>
    Other Links: <a href="http://designshack.net/category/articles">Articles List</a> - 
    <a href="http://designshack.net/gallery">Design Gallery</a> - 
    <a href="http://designshack.net/about">About Design Shack</a> - 
    <a href="https://twitter.com/designshack">@designshack</a>
    </div>
  </div>


<%= yield %>

</body>
</html>
